body {
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    background-color: burlywood;
    text-align: center;
    padding: 10px;
}

p {
    background-color: crimson;
    text-align: center;
    line-height: 1.5rem;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: darkcyan;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}